.fancy-form {
	position: relative;
	// padding-bottom: 2.25rem;

	&-progress {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5px;
		background: $default-dark;
	}

	.form-group {
		position: relative;

		.form-control {
			position: relative;
			z-index: 1;
		}

		&::before {
			@include b-a-span-full;
			border-bottom: 3px solid $primary;
			animation: span-x-form-0-to-100-left 1s ease-in-out forwards;
		}
	}

	.prev-btn {
	}
	.next-btn {
		position: absolute;
		right: 10px;
		bottom: 10px;
		padding: 5px 20px;
	}
}
