// fonts
@import url("https://fonts.gooleapis.con/css?family=Pacifico|Roboto");
// end of fonts

// partials
@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/modularTypo";
@import "./partials/reusableClasses";
@import "./partials/forms";
// end of partials

// universal selector
* {
	box-sizing: border-box;
	list-style: none;
	transition: all 300ms;
	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 0.6em;

		&-thumb {
			background: $default-dark;
			border-radius: $base;
		}
		&-track {
			background: #fff;
		}
	}
}
// end of universal selector

// body
body {
	background: $primary;
	font-family: "Roboto", sans-serif;
	margin: 0;
}
//end of body

// INCLUDES
@include typo;
@include classes;
// end of INCLUDES

// // modules
// // NAVBAR
// @import "./partials/modules/navbar";
// // END OF NAVBAR
// // hero
// @import "./partials/modules/hero";
// // END OF hero
// // main
// @import "./partials/modules/main";
// // END OF main
// // section
// @import "./partials/modules/section";
// // END OF section
// // products
// @import "./partials/modules/products";
// // END OF products

// header
@import "./partials/modules/header";
//end of header
// main
@import "./partials/modules/main";
//end of main
// // end of modules

// buttons
@import "./partials/buttons";
// end of buttons

// animations
@import "./partials/animations";
// end of animations
